.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(100, 22, 173);
  color: white;
}

.header div {
  font-size: 1.5rem;
  display: inline-block;
  padding-top: 15px;
  height: 4rem;
  width: 33%;
  text-align: center;
  justify-content: center;
}

hr {
  border: none;
  background-color: rgb(8, 8, 8);
  height: 5px;
  width: 100%;
}

.width {
  width: 80%;
}
