
/* overlay */
.overlay{
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0.9; */
    z-index:5;
}
/* display container */
.user-image{
    border-radius: 50%;
}

.user-info{
    border:none;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 8%;
    height: 450px;
    width:450px;
    z-index: 10;
}

.info{
text-align: left;
}

.details-container{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    margin-bottom: 10px;
}

.details-container div{
    height: 40px;
    width: 50%;
}

.input{
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    height: 70%;
    width: 90%;
}

.btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    height: 35px;
    width: 100px;
    color: white;
}

.save{
    background-color: #7A0BC0;
}

.save:hover{
    background-color:hsl(277, 89%, 50%);
}

.cancel{
    background-color: rgb(182, 26, 26);
    margin-left: 20px;
}

.cancel:hover{
    background-color:hsl(0, 75%, 51%) ;
}

.btn-div{
    padding-left: 40px;
    text-align:left;
}